* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    font-size: 35px;
}

.container {
    height: 800px;
    width: 800px;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

.box {
    background-color: rgb(165, 83, 241);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    grid-column-start: 1;
    grid-column-end: 4;
}

.sidebar {
    grid-row-start: 2;
    grid-row-end: 4;
}

.content1 {
    grid-column-start: 2;
    grid-column-end: 4;
}

.footer {
    grid-column-start: 1;
    grid-column-end: 4;
}